{% extends 'base.html.twig' %}

{% block title %}Detais produits{% endblock %}

{% block style %}

    <script src="{{asset('e-commerce/js/jquery-2.0.0.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('e-commerce/js/bootstrap.bundle.min.js')}}" type="text/javascript"></script>
    <link href="{{asset('e-commerce/css/bootstrap.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{asset('e-commerce/fonts/fontawesome/css/all.min.css')}}" type="text/css" rel="stylesheet">
    <link href="{{asset('e-commerce/fonts/feathericons/css/iconfont.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('e-commerce/fonts/material-icons/css/materialdesignicons.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('e-commerce/css/ui.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{asset('e-commerce/css/responsive.css')}}" rel="stylesheet" />
    <script src="{{asset('e-commerce/js/script.js')}}" type="text/javascript"></script>

{% endblock %}

{% block card_body %}

<!-- ============================ COMPONENT 1 ================================= -->

<div class="card">
</br>
</br>
</br>
</br>
</br>
</br>
<h2>Details du produit</h2>
</br>
</br>
	<div class="row no-gutters">
		<aside class="col-md-6">
            <article class="gallery-wrap"> 
                <div class="img-big-wrap">
                <a href="#"><img src="{{asset('pics/')}}{{produit.image}}" width="650"></a>
                </div> <!-- img-big-wrap.// -->
            </article> <!-- gallery-wrap .end// -->
		</aside>

<main class="col-md-6 border-left">

    <article class="content-body">

        <h2 class="title">{{produit.nom}}</h2>


        <div class="mb-3"> 
            <var class="price h4">{{produit.prix}} CFA</var> 
        </div> 

        <p>{{produit.description}}</p>

        <hr>
            <div class="row pl-4">
               
                
            </div> <!-- row.// -->
            <a href="{{path('cart_add',{'id':produit.id})}}" class="btn  btn-outline-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </a>
    </article> 

</main> 

</div> 


{% endblock %}