<!DOCTYPE html>
<html>
    
        <meta charset="UTF-8">
        <title>{% block title %}Home{% endblock %}</title>
       
        {% block stylesheets %}
          
          <link href="{{asset('burgerKing/img/favicon.ico')}}" rel="icon">
          <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet"> 
          <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
          <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
          <link href="{{asset('burgerKing/lib/animate/animate.min.css')}}" rel="stylesheet">
          <link href="{{asset('burgerKing/lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
          <link href="{{asset('burgerKing/lib/flaticon/font/flaticon.css')}}" rel="stylesheet">
          <link href="{{asset('burgerKing/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css')}}" rel="stylesheet" />
          <link href="{{asset('burgerKing/css/style.css')}}" rel="stylesheet">
        {% block style %}

        {% endblock %}

        {% endblock %}

  <body>
    
    {% block body %}
       
        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand">Brazil <span>Burger</span></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="{{path('produit')}}" class="nav-item nav-link active">Menu</a>
                        <a href="{{path('cart')}}" class="nav-item nav-link">Panier</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu">
                                <a href="{{path('app_login')}}" class="dropdown-item">Login</a>
                                <a href="{{path('app_logout')}}" class="dropdown-item">Logout</a>
                                <a href="blog.html" class="dropdown-item">Register</a>
                            </div>
                        </div>
                        <a href="{{path('commande_client')}}" class="nav-item nav-link">Commandes</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->

        {% block card_body %}

        {% endblock %}

        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-contact">
                                    <h2>Our Address</h2>
                                    <p><i class="fa fa-map-marker-alt"></i>Point E, Dakar, Senegal</p>
                                    <p><i class="fa fa-phone-alt"></i>+221 77 788 77 77</p>
                                    <p><i class="fa fa-envelope"></i>akolatse1@gmail.com</p>
                                    <div class="footer-social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-youtube"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer-link">
                                    <h2>Quick Links</h2>
                                    <a href="">Terms of use</a>
                                    <a href="">Privacy policy</a>
                                    <a href="">Cookies</a>
                                    <a href="">Help</a>
                                    <a href="">FQAs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="footer-newsletter">
                            <h2>Newsletter</h2>
                            <p>
                                Lorem ipsum dolor sit amet elit. Quisque eu lectus a leo dictum nec non quam. Tortor eu placerat rhoncus, lorem quam iaculis felis, sed lacus neque id eros.
                            </p>
                            <div class="form">
                                <input class="form-control" placeholder="Email goes here">
                                <button class="btn custom-btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>Copyright &copy; <a href="#">Your Site Name</a>, All Right Reserved.</p>
                    <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


        
    {% endblock %}
           
    {% block javascripts %}
     <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{{asset('burgerKing/lib/easing/easing.min.js')}}"></script>
        <script src="{{asset('burgerKing/lib/owlcarousel/owl.carousel.min.js')}}"></script>
        <script src="{{asset('burgerKing/lib/tempusdominus/js/moment.min.js')}}"></script>
        <script src="{{asset('burgerKing/lib/tempusdominus/js/moment-timezone.min.js')}}"></script>
        <script src="{{asset('burgerKing/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')}}"></script>
        
        <!-- Contact Javascript File -->
        <script src="{{asset('burgerKing/mail/jqBootstrapValidation.min.js')}}"></script>
        <script src="{{asset('burgerKing/mail/contact.js')}}"></script>

        <!-- Template Javascript -->
        <script src="{{asset('burgerKing/js/main.js')}}"></script>      
          
          {% block js %}

          {% endblock %}
    {% endblock %}

        
    </body>
</html>
